*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}

body{
   color: #ededed;
}
.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 200px 10%;
   background: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;

}